* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Ignore generated/vendor frontend assets in language statistics
public/assets/** linguist-vendored
resources/views/vendor/** linguist-vendored